.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 40px;
}

.anchor a {
    text-decoration: none;
    font-size: large;
    color: white;
    margin: 20px;
}